
textarea{
    margin:0!important; 
    height: 100%!important;
    border: none;
    overflow: auto;
    font-size: 1.2em;
    line-height:1.3em !important;
}
.line{
    //line-height: 1.1em;
    padding: 0px !important;
    margin: 0px;
    font-size: 1.2em !important;
}

.erro1{
    color: red;
}

.pass{
    color:green;
}

.erro{
    position: absolute;
    width: 100px;
    background-color: rgba(255, 24, 0, 0.33);
    z-index: 1;
}

.bulbfalse{
    font-size: 17px; 
    color : gray;
}
.bulbtrue{
    font-size: 17px; 
    color : green;
}
.borda{
    border-radius: 2px;
    border: 1px solid;
}