<!--
  Generated template for the ComandosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Comandos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="getCommand($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let commands of commandsList">
      <div class="col-lg-8 col-md-10 col-xs-12">
        <h2> {{ commands.comando }} </h2>
        <h3>
          <strong>Descrição:</strong>
        </h3>
        <div *ngFor="let descricao of commands.desc">
          <p>{{ descricao }}</p>
        </div>
        <h3>
          <strong>Exemplo de uso:</strong>
        </h3>
        <div *ngFor="let exemplo of commands.exemplos">
          <p>{{ exemplo }}</p>
        </div>
      </div>
    </ion-item>
  </ion-list>

</ion-content>