<ion-header>

  <ion-navbar>
    <ion-title>Comandos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="getCommand($event)"></ion-searchbar>

    <ion-card *ngFor="let commands of commandsList">
      <ion-item style="background-color: #1abc9c;">
        <h1 style="color:#ffffff">{{ commands.comando }}</h1>
      </ion-item>
      <ion-card-content>
        <ion-card-header>Descrição:</ion-card-header>
        <ion-card-content *ngFor="let desc of commands.desc">
          {{ desc }}
        </ion-card-content>
        <ion-card-header>Exemplo de uso:</ion-card-header>
        <ion-card-content *ngFor="let exemplo of commands.exemplos">
          {{ exemplo }}
        </ion-card-content>
      </ion-card-content>
    </ion-card>

</ion-content>